<!-- CATEGORY TILES -->
<div class="cat-tiles-wrap">
  <div class="cat-tiles">
    <a href="/collections/earrings" class="cat-tile"><div class="cat-tile-img"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/Creative_46df76f1-5aa8-44cb-9404-46bdeed4d4a1.jpg?v=1781081928" alt="Earrings"/></div><div class="cat-tile-label">Earrings</div></a>
    <a href="/collections/necklace" class="cat-tile"><div class="cat-tile-img"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZHC4351-12_1.jpg?v=1781003688" alt="Necklaces"/></div><div class="cat-tile-label">Necklaces</div></a>
    <a href="/collections/bracelets" class="cat-tile"><div class="cat-tile-img"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZHC4351-1_1_fce770d0-a2ae-4647-97f6-cf0bfc1d4d0e.jpg?v=1781003306" alt="Bangles"/></div><div class="cat-tile-label">Bangles</div></a>
    <a href="/collections/maang-tikka" class="cat-tile"><div class="cat-tile-img"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-20_1.jpg?v=1780924019" alt="Maang Tikka"/></div><div class="cat-tile-label">Maang Tikka</div></a>
    <a href="/collections/rings" class="cat-tile"><div class="cat-tile-img"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-15_1.jpg?v=1780923676" alt="Rings"/></div><div class="cat-tile-label">Rings</div></a>
    <a href="/collections/zodiac-pendants" class="cat-tile"><div class="cat-tile-img"><img src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93311.jpg" alt="Zodiac"/></div><div class="cat-tile-label">Zodiac</div></a>
    <a href="/collections/festive-hampers" class="cat-tile"><div class="cat-tile-img"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-19_1.jpg?v=1780923056" alt="Hampers"/></div><div class="cat-tile-label">Festive Hampers</div></a>
    <a href="/collections/sale" class="cat-tile"><div class="cat-tile-img" style="border-color:var(--red)"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-21_1.jpg?v=1780922334" alt="Sale"/></div><div class="cat-tile-label" style="color:var(--red)">Sale 🔥</div></a>
  </div>
</div>

{% schema %}
{ "name": "Category Circles", "class": "index-section", "settings": [], "presets": [{ "name": "Category Circles" }] }
{% endschema %}
