<!-- INSTAGRAM GALLERY -->
<section class="tz-ig">
  <span class="tz-ig-eyebrow">Community</span>
  <h2 class="tz-ig-title">As Seen on You</h2>
  <a class="tz-ig-handle" href="https://www.instagram.com/tribalzone.in/" target="_blank" rel="noopener">@tribalzone.in</a>
  <div class="tz-ig-grid"><a class="tz-ig-cell" href="https://www.instagram.com/tribalzone.in/" target="_blank" rel="noopener"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/Creative_46df76f1-5aa8-44cb-9404-46bdeed4d4a1.jpg?v=1781081928" alt="Tribal Zone on Instagram" loading="lazy"/></a><a class="tz-ig-cell" href="https://www.instagram.com/tribalzone.in/" target="_blank" rel="noopener"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZHC4351-12_1.jpg?v=1781003688" alt="Tribal Zone on Instagram" loading="lazy"/></a><a class="tz-ig-cell" href="https://www.instagram.com/tribalzone.in/" target="_blank" rel="noopener"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZHC4351-1_1_fce770d0-a2ae-4647-97f6-cf0bfc1d4d0e.jpg?v=1781003306" alt="Tribal Zone on Instagram" loading="lazy"/></a><a class="tz-ig-cell" href="https://www.instagram.com/tribalzone.in/" target="_blank" rel="noopener"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-20_1.jpg?v=1780924019" alt="Tribal Zone on Instagram" loading="lazy"/></a><a class="tz-ig-cell" href="https://www.instagram.com/tribalzone.in/" target="_blank" rel="noopener"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-15_1.jpg?v=1780923676" alt="Tribal Zone on Instagram" loading="lazy"/></a><a class="tz-ig-cell" href="https://www.instagram.com/tribalzone.in/" target="_blank" rel="noopener"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-19_1.jpg?v=1780923056" alt="Tribal Zone on Instagram" loading="lazy"/></a></div>
</section>

{% schema %}
{ "name": "Instagram", "class": "index-section", "settings": [], "presets": [{ "name": "Instagram" }] }
{% endschema %}
