<!-- SHOP BY OCCASION -->
<section class="tz-occ"><div class="tz-occ-inner">
  <div class="tz-occ-head"><span class="tz-occ-eyebrow">Curated For You</span><h2 class="tz-occ-title">Shop by <em>Occasion</em></h2></div>
  <div class="tz-occ-grid"><a class="tz-occ-card" href="/collections/all"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZHC4351-12_1.jpg?v=1781003688" alt="Wedding" loading="lazy"/><div class="tz-occ-label">Wedding</div></a><a class="tz-occ-card" href="/collections/all"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-19_1.jpg?v=1780923056" alt="Festive" loading="lazy"/><div class="tz-occ-label">Festive</div></a><a class="tz-occ-card" href="/collections/all"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-15_1.jpg?v=1780923676" alt="Office" loading="lazy"/><div class="tz-occ-label">Office</div></a><a class="tz-occ-card" href="/collections/all"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/Creative_46df76f1-5aa8-44cb-9404-46bdeed4d4a1.jpg?v=1781081928" alt="Everyday" loading="lazy"/><div class="tz-occ-label">Everyday</div></a><a class="tz-occ-card" href="/collections/all"><img src="https://cdn.shopify.com/s/files/1/0301/2793/files/TZ4383-21_1.jpg?v=1780922334" alt="Gifting" loading="lazy"/><div class="tz-occ-label">Gifting</div></a></div>
</div></section>

{% schema %}
{ "name": "Shop by Occasion", "class": "index-section", "settings": [], "presets": [{ "name": "Shop by Occasion" }] }
{% endschema %}
