<!-- ZODIAC STRIP -->
<section class="zodiac-sec">
  <div class="zodiac-inner">
    <div class="sec-head">
      <h2 class="sec-title">Shop by Zodiac</h2>
    </div>
    <div class="zodiac-scroll-wrap">
    <div class="zodiac-row">
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93311.jpg" alt="Aries"/></div><div class="z-info"><div class="z-name">Aries</div><div class="z-dates">Mar 21 – Apr 19</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93281.jpg" alt="Taurus"/></div><div class="z-info"><div class="z-name">Taurus</div><div class="z-dates">Apr 20 – May 20</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93251.jpg" alt="Gemini"/></div><div class="z-info"><div class="z-name">Gemini</div><div class="z-dates">May 21 – Jun 20</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93291.jpg" alt="Cancer"/></div><div class="z-info"><div class="z-name">Cancer</div><div class="z-dates">Jun 21 – Jul 22</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93331.jpg" alt="Leo"/></div><div class="z-info"><div class="z-name">Leo</div><div class="z-dates">Jul 23 – Aug 22</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93351.jpg" alt="Virgo"/></div><div class="z-info"><div class="z-name">Virgo</div><div class="z-dates">Aug 23 – Sep 22</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93341.jpg" alt="Libra"/></div><div class="z-info"><div class="z-name">Libra</div><div class="z-dates">Sep 23 – Oct 22</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93211.jpg" alt="Scorpio"/></div><div class="z-info"><div class="z-name">Scorpio</div><div class="z-dates">Oct 23 – Nov 21</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93271.jpg" alt="Sagittarius"/></div><div class="z-info"><div class="z-name">Sagittarius</div><div class="z-dates">Nov 22 – Dec 21</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93221.jpg" alt="Capricorn"/></div><div class="z-info"><div class="z-name">Capricorn</div><div class="z-dates">Dec 22 – Jan 19</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A9323.jpg" alt="Aquarius"/></div><div class="z-info"><div class="z-name">Aquarius</div><div class="z-dates">Jan 20 – Feb 18</div></div></a>
      <a href="/collections/zodiac-pendants" class="z-card"><div class="z-img-wrap"><img class="z-img" src="https://cdn.shopify.com/s/files/1/0301/2793/products/Y1A93371.jpg" alt="Pisces"/></div><div class="z-info"><div class="z-name">Pisces</div><div class="z-dates">Feb 19 – Mar 20</div></div></a>
    </div>
    </div>
  </div>
</section>

{% schema %}
{ "name": "Zodiac Strip", "class": "index-section", "settings": [], "presets": [{ "name": "Zodiac Strip" }] }
{% endschema %}
